
# Byte-compiled / optimized / DLL files
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints
*-checkpoint.ipynb
/venv/
/.idea/
/hydradx/tests/.hypothesis/
/hydradx/notebooks/Omnipool/data/
/hydradx/notebooks/Misc/data/
/hydradx/other tests/.hypothesis/
/hydradx/model/data/
/.hypothesis/
*.env
/hydradx/apps/fees/data
/hydradx/apps/money_market/archive
/hydradx/apps/fees/acct_swaps_5_0x7279fcf9694718e1234d102825dccaf332f0ea36edf1ca7c0358c4b68260d24b.json
/hydradx/apps/omnipool/cached data/all_trades.txt
/hydradx/other tests/cached data/all_trades.txt
/hydradx/apps/omnipool/cached data/lrna_sells.txt
/hydradx/other tests/cached data/lrna_sells.txt
/hydradx/tests/money_market_save_test.json
**/cached\ data/**
/hydradx/apps/stableswap/.streamlit/secrets.toml
